<div class="col-xs-12 col-sm-4">
  <div class="card-container">
    <%= link_to artwork_path(artwork) do %>
      <div class="card-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path artwork.photo.path, height: 200, width: 150, crop: :fill %>');">
        <div class="card-content text-center">
          <div class="card-item card-name">
            <p><%= artwork.name %></p>
          </div>
          <div class="card-item card-artist">
            <% user = User.find(artwork.user_id) %>
            <p>By <%= user.first_name %> <%= user.last_name %></p>
          </div>
          <div class="card-item card-medium">
            <p><%= artwork.medium %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
