<div class="container">
  <h1 class="text-center">All artworks</h1>
  <hr>
  <div class="row">
    <%= form_tag(artworks_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search Artowrk" %>
      <%= submit_tag "Search" %>
    <% end %>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <% if @artworks.present? %>
        <%= render partial: 'components/artwork',collection: @artworks %>
      <% else %>
        <p>There are no posts containing the term(s) <%= params[:search] %>.</p>
      <% end %>
    </div>
  </div>
</div>

<div id="map" style="width: 500px; height: 500px;"></div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    var handler = Gmaps.build('Google');
    var styles =
            [
                {
                    "featureType": "landscape",
                    "elementType": "all",
                    "stylers": [
                        {
                            "hue": "#ff8000"
                        },
                        {
                            "saturation": "-15"
                        },
                        {
                            "lightness": "40"
                        },
                        {
                            "visibility": "simplified"
                        }
                    ]
                },
                {
                    "featureType": "poi",
                    "elementType": "all",
                    "stylers": [
                        {
                            "hue": "#00ff6a"
                        },
                        {
                            "saturation": "-45"
                        },
                        {
                            "lightness": "0"
                        },
                        {
                            "gamma": 1
                        },
                        {
                            "visibility": "on"
                        }
                    ]
                },
                {
                    "featureType": "poi",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "lightness": "30"
                        }
                    ]
                },
                {
                    "featureType": "road.highway",
                    "elementType": "all",
                    "stylers": [
                        {
                            "hue": "$gallery;"
                        },
                        {
                            "visibility": "simplified"
                        },
                        {
                            "saturation": "-40"
                        },
                        {
                            "lightness": "46"
                        }
                    ]
                },
                {
                    "featureType": "road.arterial",
                    "elementType": "all",
                    "stylers": [
                        {
                            "hue": "#ff0300"
                        },
                        {
                            "saturation": -100
                        },
                        {
                            "lightness": 51.19999999999999
                        },
                        {
                            "gamma": 1
                        },
                        {
                            "visibility": "on"
                        }
                    ]
                },
                {
                    "featureType": "road.local",
                    "elementType": "all",
                    "stylers": [
                        {
                            "hue": "#ff0300"
                        },
                        {
                            "saturation": -100
                        },
                        {
                            "lightness": 52
                        },
                        {
                            "gamma": 1
                        },
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "water",
                    "elementType": "all",
                    "stylers": [
                        {
                            "hue": "#0078FF"
                        },
                        {
                            "saturation": -13.200000000000003
                        },
                        {
                            "lightness": 2.4000000000000057
                        },
                        {
                            "gamma": 1
                        }
                    ]
                }
            ];
      handler.buildMap({
        provider: {
        styles: styles
      },
      internal: { id: 'map' }
      }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
  <% end %>
<% end %>

