
<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <%= cl_image_tag @artwork.photo.path, class: "artwork-banner" %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="artwork-container">
        <div class="content-container">
          <h1><%= @artwork.name %></h1>
          <p><strong><%= @user.first_name%> <%= @user.last_name%></strong></p>
          <p><%= @artwork.medium %></p>
          <p><%= @artwork.height %> x <%= @artwork.width %></p>
          <p><%= @artwork.description %></p>
        </div>
        <div class="rent-container">
          <div class="rent-info">
            <div class="rent-price">
              <p>$<%= @artwork.price %> per month</p>
            </div>
            <div class="rent-status">
              <p>available</p>
            </div>
          </div>
          <hr>
          <div class="rent-dates text-center">
            <%= simple_form_for [@artwork, @reservation] do |f| %>
              <%= f.input :start_date, as: :date, html5: true %>
              <%= f.input :end_date, as: :date, html5: true %>
              <%= f.button :submit, value: "Request to Rent", class: "gallery-button gallery-primary" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div id="map" style="width: 500px; height: 500px;"></div>
      <h3>More from <%= @user.first_name %> <%= @user.last_name %></h3>
      <h5>cards showing artwork from this artist</h5>
    </div>
  </div>


    <% content_for(:after_js) do %>
      <%= javascript_tag do %>
        var handler = Gmaps.build('Google');
        var styles =
                [
                    {
                        "featureType": "landscape",
                        "elementType": "all",
                        "stylers": [
                            {
                                "hue": "#ff8000"
                            },
                            {
                                "saturation": "-15"
                            },
                            {
                                "lightness": "40"
                            },
                            {
                                "visibility": "simplified"
                            }
                        ]
                    },
                    {
                        "featureType": "poi",
                        "elementType": "all",
                        "stylers": [
                            {
                                "hue": "#00ff6a"
                            },
                            {
                                "saturation": "-45"
                            },
                            {
                                "lightness": "0"
                            },
                            {
                                "gamma": 1
                            },
                            {
                                "visibility": "on"
                            }
                        ]
                    },
                    {
                        "featureType": "poi",
                        "elementType": "labels.text.fill",
                        "stylers": [
                            {
                                "lightness": "30"
                            }
                        ]
                    },
                    {
                        "featureType": "road.highway",
                        "elementType": "all",
                        "stylers": [
                            {
                                "hue": "$gallery;"
                            },
                            {
                                "visibility": "simplified"
                            },
                            {
                                "saturation": "-40"
                            },
                            {
                                "lightness": "46"
                            }
                        ]
                    },
                    {
                        "featureType": "road.arterial",
                        "elementType": "all",
                        "stylers": [
                            {
                                "hue": "#ff0300"
                            },
                            {
                                "saturation": -100
                            },
                            {
                                "lightness": 51.19999999999999
                            },
                            {
                                "gamma": 1
                            },
                            {
                                "visibility": "on"
                            }
                        ]
                    },
                    {
                        "featureType": "road.local",
                        "elementType": "all",
                        "stylers": [
                            {
                                "hue": "#ff0300"
                            },
                            {
                                "saturation": -100
                            },
                            {
                                "lightness": 52
                            },
                            {
                                "gamma": 1
                            },
                            {
                                "visibility": "off"
                            }
                        ]
                    },
                    {
                        "featureType": "water",
                        "elementType": "all",
                        "stylers": [
                            {
                                "hue": "#0078FF"
                            },
                            {
                                "saturation": -13.200000000000003
                            },
                            {
                                "lightness": 2.4000000000000057
                            },
                            {
                                "gamma": 1
                            }
                        ]
                    }
                ];
          handler.buildMap({
            provider: {
            styles: styles
          },
          internal: { id: 'map' }
          }, function() {
            markers = handler.addMarkers(<%= raw @hash.to_json %>);
            handler.bounds.extendWith(markers);
            handler.fitMapToBounds();
            if (markers.length == 0) {
              handler.getMap().setZoom(2);
            } else if (markers.length == 1) {
              handler.getMap().setZoom(14);
            }
          });
      <% end %>
    <% end %>
</div>

