
<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <%= cl_image_tag @artwork.photo.path, class: "artwork-banner" %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="artwork-container">
        <div class="content-container">
          <h1><%= @artwork.name %></h1>
          <p><strong><%= @artwork.artist %></strong></p>
          <p><%= @artwork.medium %></p>
          <p><%= @artwork.size %></p>
          <p><%= @artwork.description %></p>
        </div>
        <div class="rent-container">
          <div class="rent-info">
            <div class="rent-price">
              <p>$49 per month</p>
            </div>
            <div class="rent-status">
              <p>available</p>
            </div>
          </div>
          <hr>
          <div class="rent-dates">
            <%= simple_form_for [@artwork, @reservation] do |f| %>
              <%= f.input :date, as: :date, html5: true %>
              <%= f.input :date, as: :date, html5: true %>
              <%= f.button :submit, value: "Request to Rent", class: "gallery-button gallery-primary" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<h1>This is where the map goes</h1>
<h3>More from <%= @artwork.artist %></h3>
<h5>cards showing artwork from this artist</h5>
