<%= cl_image_tag @artwork.photo, class: "artwork-banner" %>
<h1><%= @artwork.name %></h1>
<p><strong><%= @artwork.artist %></strong></p>
<p><%= @artwork.medium %></p>
<p><%= @artwork.size %></p>
<h1>This is where the map goes</h1>
<h3>More from <%= @artwork.artist %></h3>
<h5>cards showing artwork from this artist</h5>
