<div class="navbar">

  <!-- navbar -->
  <div class= "navbar-top" id="main-nav-header">
    <!-- menu -->
    <%= link_to "#", class: "navbar-item", :id => "menu" do %>
      <i class="fa fa-bars" aria-hidden="true" id="bars"></i>
      <i class="fa fa-times collapsed" aria-hidden="true" id="menu-close"></i>
      <p>Menu</p>
    <% end %>
    <!-- logo -->
    <%= link_to root_path, class: "navbar-logo" do %>
      <%= image_tag "gallery514_logo.png", :id => "logo" %>
      <%= image_tag "gallery514_white.png", :id => "logo-white", :class => "collapsed" %>
    <% end %>
    <!-- search -->
    <%= link_to "#", class: "navbar-item", :id => "search" do %>
      <p>Search</p>
      <i class="fa fa-search" aria-hidden="true" id="loupe"></i>
      <i class="fa fa-times collapsed" aria-hidden="true" id= "search-close"></i>
    <% end %>
  </div>

  <!-- toggle menu -->
  <div class="navbar-menu collapsed" id="nav-menu">
    <div class="menu-options">
      <ul class="list-unstyled menu-list">
        <li class="menu-item"><%= link_to "Something", "#", class: "menu-link" %></li>
        <li class="menu-item"><%= link_to "Something", "#", class: "menu-link" %></li>
        <li class="menu-item"><%= link_to "Something", "#", class: "menu-link" %></li>
      </ul>
    </div>
    <div class="menu-tabs">
      <ul class="list-inline tab-left">
        <li class="tab-item"><%= link_to "Add your Artwork", new_artwork_path, class: "tab-link" %></li>
        <li class="tab-item"><%= link_to "Help", "#", class: "tab-link" %></li>
      </ul>
      <div class="user-options">
        <%= link_to new_user_session_path, class: "tab-link tab-log-in" do %>
          <% if user_signed_in? %>
            <% avatar_url = current_user.facebook_picture_url || "http://placehold.it/30x30" %>
            <%= image_tag avatar_url, class: "avatar dropdown-toggle user-option", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
            <%= link_to "Profile", "#", class: "tab-link user-option" %>
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "tab-link user-option" %>
          <% else %>
            <p>Log In</p>
            <i class="fa fa-user" aria-hidden="true"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- search popup -->
<div class="search-popup collapsed" id="nav-search">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <form action="/artworks" method="get" autocomplete="off">
          <input class="search-bar"  type="search" placeholder="Type to search" autofocus="true">
        </form>
      </div>
    </div>
  </div>
</div>


<%= javascript_tag do %>
  searchLogo = document.getElementById("search");
  search = document.getElementById("nav-search");
  loupe = document.getElementById("loupe");
  closeSearch = document.getElementById("search-close");
  logo = document.getElementById("logo");
  logoWhite = document.getElementById("logo-white");
  searchLogo.addEventListener("click", (event) => {
    event.preventDefault();
    collapsed = search.classList.contains("collapsed");
    if(collapsed){
      search.classList.remove("collapsed");
      closeSearch.classList.remove("collapsed");
      loupe.classList.add("collapsed");
      logo.classList.add("collapsed");
      logoWhite.classList.remove("collapsed");
    } else {
      search.classList.add("collapsed");
      closeSearch.classList.add("collapsed");
      loupe.classList.remove("collapsed");
      logo.classList.remove("collapsed");
      logoWhite.classList.add("collapsed");
    }
  });
<% end %>

<%= javascript_tag do %>
  menuLogo= document.getElementById("menu");
  menu = document.getElementById("nav-menu");
  bars = document.getElementById("bars");
  closeMenu = document.getElementById("menu-close");
  menuLogo.addEventListener("click", (event) => {
    event.preventDefault();
    collapsed = menu.classList.contains("collapsed");
    if(collapsed){
      menu.classList.remove("collapsed");
      closeMenu.classList.remove("collapsed");
      bars.classList.add("collapsed");
    } else {
      menu.classList.add("collapsed");
      closeMenu.classList.add("collapsed");
      bars.classList.remove("collapsed");
    }
  });
<% end %>






