<div class="container">
    <div class="main-container">
      <h3>Your requests:</h3>
      <% if @reservations %>
        <% @reservations.each do |reservation| %>
          <% artwork = Artwork.find(reservation.artwork_id) %>
          <div class="row">
            <div class="request-container">
              <div class="request-item request-artwork">
                <%= cl_image_tag artwork.photo.path, class: "artwork-thumbnail" %>
              </div>
              <div class="request-item artwork-info text-center">
                <h3><%= artwork.name %></h3>
                <h5><%= artwork.height %> x <%= artwork.width %> cm</h5>
              </div>
              <div class="request-item request-info">
                <p>
                  From <%= reservation.start_date %>
                  To <%= reservation.end_date %>
                </p>
                <p>Pick up at <%= artwork.address %></p>
              </div>
              <div class="request-item request-status">
                <% if reservation.status == "approved"%>
                  <p class="text-success">reservation.status</p>
                <% elsif reservation.status == "pending" %>
                  <p class="text-warning">reservation.status</p>
                <% else %>
                  <p class="text-danger">Declined</p>
                <% end %>
                <p class="request-total">
                  $<%= ((artwork.price / 30) * (Date.parse(reservation.end_date) - Date.parse(reservation.start_date))).to_i  %>
                </p>
              </div>
            </div>
            <hr>
          </div>
        <% end %>
      <% else %>
        <p>Sadly, you have no requests.</p>
      <% end %>
      <ul class="list-inline text-center">
        <%= link_to "Back", root_path, class: "gallery-button option-links" %>
      </ul>
  </div>
</div>
